<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:difx="http://wixtoolset.org/schemas/v4/wxs/difxapp">
  <Package Name="Esatto Virtual Printer v4" Manufacturer="In Touch Technologies" Language="1033" Version="4.1.0.0"
           UpgradeCode="{CA1708EC-9A00-409B-A1A4-236BBE0D94D8}" InstallerVersion="301">

    <MajorUpgrade AllowDowngrades="yes" />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="EsattoIcon.exe" SourceFile="..\Assets\Esatto Logo (ICO, Green, 256x256).ico" />
    <Property Id="ARPPRODUCTICON" Value="EsattoIcon.exe" />

    <SetProperty Id="ItpInstallPort" Value="&quot;[#portinstaller]&quot; install" Before="ItpInstallPort" Sequence="execute" />
    <CustomAction Id="ItpInstallPort" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="ignore" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" />

    <!--
    <SetProperty Id="ItpUninstallPort" Value="&quot;[#portinstaller]&quot; uninstall" Before="ItpUninstallPort" Sequence="execute" />
    <CustomAction Id="ItpUninstallPort" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="deferred" Impersonate="no" Return="ignore" />
    -->

    <InstallExecuteSequence>
      <!-- https://stackoverflow.com/a/17608049/138200 for conditions -->
      <Custom Action="ItpInstallPort" Before="InstallFinalize" Condition="(REINSTALL&lt;&gt;&quot;&quot;) OR (REMOVE=&quot;&quot;)" />
      <!--
      <Custom Action="ItpUninstallPort" After="InstallInitialize">
        (NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")
      </Custom>
      -->
    </InstallExecuteSequence>

    <StandardDirectory Id="System64Folder" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="CompanyFolder" Name="Esatto">
        <Directory Id="INSTALLFOLDER" Name="Virtual Printer v4" />
      </Directory>
    </StandardDirectory>

    <!-- Printer driver -->
    <File Source="..\releases\v3\esattovp3.inf" />
    <File Source="..\releases\v3\esattovp3.cat" />
    <File Source="..\releases\v3\esattovp3.gpd" />
    <File Source="..\releases\v3\esattovp3-PipelineConfig.xml" />

    <!-- Port Monitor -->
    <Component Permanent="yes" Directory="System64Folder">
      <File Source="$(var.Esatto.VirtualPrinter.PortMonitor.TargetPath)" />
    </Component>
    <!-- This is just for fun.  The real one goes in System32 -->
    <File Id="portmonref" Source="$(var.Esatto.VirtualPrinter.PortMonitor.TargetPath)" />

    <!-- Port Installer -->
    <Component Id="portinstaller">
      <File Id="portinstaller" Source="$(var.Esatto.VirtualPrinter.PortInstaller.TargetPath)" KeyPath="yes" />
      <RegistryValue Root="HKLM" Key="SOFTWARE\In Touch Technologies\Esatto\Virtual Printer" Name="PortInstaller" Value="[#portinstaller]" Type="string" />
    </Component>
    <File Source="$(var.Esatto.VirtualPrinter.PortInstaller.TargetPath).config" />
    <File Source="$(var.Esatto.VirtualPrinter.PortInstaller.TargetDir)Esatto.VirtualPrinter.Common.dll" />
    <File Source="$(var.Esatto.VirtualPrinter.PortInstaller.TargetDir)Esatto.Win32.Common.dll" />

    <!-- Print to file target -->
    <File Source="$(var.Esatto.VirtualPrinter.PrintToFileTarget.TargetPath)" />
    <File Source="$(var.Esatto.VirtualPrinter.PrintToFileTarget.TargetPath).config" />
  </Package>
</Wix>
